.topnav {
    background-color: #ECA817;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    margin: 0;
    border-width: 0;
    float: left;
    text-align: center;
    width: 1440px;
    height: 125px;
}

body {
    margin: 0;
    padding: 0;
}

.backg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.img2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.band-section{
 color: white;
 text-align: center;
 position: absolute;
}

.bold {
    font-weight: bold ;
}
 .top{
    color: white;
    text-align: center;
    position: absolute;
    left: 41%;
    top: 10%;
 }