/* Add a black background color to the top navigation */
.topnav {
    background-color: #ECA817;
    overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    margin: 0;
    border-width: 0;
    float: left;
    text-align: center;
    width: 1440px;
    height: 125px;
}

body {
    margin: 0;
    padding: 0;
}

.backg {
    position: relative;
    width: 100vw;
}

.img2 {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ajalugu{
    color: white;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 45%;
    font-size: 13px;
}

.ajalugu1{
    color: white;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 2%;
    font-size: 13px;
}
    
.ajalugu2{
    color: white;
    text-align: center;
    position: absolute;
    top: 150%;
    left: 2%;
    font-size: 13px;
}